# Node.js
node_modules
package-lock.json
yarn.lock

# Parcel
.cache
.parcel-cache
dist

# Rust
target
Cargo.lock

#TypeScript
tsconfig.tsbuildinfo

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Other
*.log
