.main {
    margin-top: 44px;
}

.link-inactive {
    opacity: 1;

    :hover {
        transition: opacity 200ms;
        opacity: 0.65;
    }
}

.link-active {
    opacity: 0.65;
}

.loading {
    color: hotpink;
    padding: calc(1px + 1px);
}

.loading-span {
    color: dodgerblue;
}

.navigation {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    height: 44px;
    padding: 0 3px;
    width: calc(100% - 6px);
    overflow: hidden;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.navigation-link {
    text-decoration: none;
    display: inline-block;
    padding: 11px 17px;
    color: white;
    font-size: 14px;
}
