/* View */
.View {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	z-index: 3;
}

/* Sections */
.Section {
	padding: 0 var( --pageGutterWidth );
	position: relative;
	margin-top: 10px;
}

/* Containers */
.Section > .title {
	color: var( --base07 );
	text-align: center;
	font-size: 1.35em;
	font-weight: 100;
}

.Section > .container {
	width: 100%;
	max-width: var( --pageWidth );
	margin: var( --sectionSplitterHeight ) auto;
	position: relative;
	z-index: 2;
	background: #f2f0ecaa;
	backdrop-filter: blur( 4px );
	padding: var( --pageGutterWidth );
	border-radius: 5px;
	box-shadow: 1px 1px 3px #74736946;
	cursor: default;
	user-select: none;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.Section > .container .icons {
	font-size: 32px;
	margin-right: var( --sectionSplitterHeight );
}

.Section > .container .text {
	flex-grow: 1;
}
