/* Controller component */
.regulator {
    opacity: 0.3;
    transition: background var( --defaultTiming ), opacity var( --defaultTiming );
}

.regulator.-up,
.regulator.-down {
    transition: background calc( var( --defaultTiming ) / 2 );
}

.regulator.-connected {
    opacity: 1;
}

/* Action Buttons */
.regulator .action {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 34px;
    padding: 0 5px;
    border-radius: 17px;
}

.regulator .action > .less,
.regulator .action > .more {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    transition: left var( --defaultTiming ), background var( --defaultTiming );
}

.regulator.-up .action > .more,
.regulator.-down .action > .less {
    transition: background calc( var( --defaultTiming ) / 2 );
}

.regulator.-connected .action > .less,
.regulator.-connected .action > .more {
    cursor: pointer;
}

.regulator .action > .less {
    border-radius: 17px 3px 3px 17px;
}

.regulator .action > .more {
    border-radius: 3px 17px 17px 3px;
}

.regulator .action > .current {
    line-height: 34px;
    padding: 0 12px;
    min-width: 50px;
    text-align: center;
}