/* Switch component */
.switch {
    opacity: 0.3;
    transition: background var( --defaultTiming ), opacity var( --defaultTiming );
}

.switch.-connected {
    opacity: 1;
}

/* Action Button */
.switch .action {
    display: block;
    height: 34px;
    width: 66px;
    border-radius: 17px;
    position: relative;
}

.switch.-connected .action {
    cursor: pointer;
}

.switch .button {
    position: absolute;
    display: block;
    left: 5px;
    top: 4px;
    width: 26px;
    height: 26px;
    border-radius: 15px;
    transition: left var( --defaultTiming ), background var( --defaultTiming );
}

.switch.-active .button {
    left: 35px;
}